script(type='text/javascript' src='/socket.io/socket.io.js')
script(type='text/javascript').
  //var socket = io.connect('http://epihack.everywhere.in.th:3000');
  var socket = io.connect('http://localhost:3000');
  socket.on('maps', function (data) {
    console.log(data);
  });
