
.icon {
	text-indent: -999em;
	display: inline-block;
}

.white.button.radius {
	background-color: #fff;
	color: #0098d8;
	&:hover { background-color: #0098d8; color: #fff;}
}
body {
	background: #059ad9 url('../img/bg-graphic.png') repeat-x left bottom;
	font-size: 14px;
}

h2 {
	margin: 0 0 30px;
	font-size: 24px;
}

h3 { 
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 20px;
}

.topbar {
	background-color: #0087c3;
	max-width: none;
	.columns { 
		height: 38px;
		padding: 9px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
}

.logo {
	background: url('../img/logo.png') no-repeat 0 0;
	text-indent: -999em;
	width: 283px;
	height: 74px;
	margin: 0.3em 0;
}

.wrapper {
	padding: 30px 60px;
}


// first-page
.first-page .logo { margin: 0 auto;}
.reporter-type {
	padding: 60px;
}

.report-type-form {
	max-width: 560px;
	height: auto;
	background-color: rgba(64,178,226,0.5);
	border-radius: 5px;
	margin: 50px auto 0;
	padding: 60px;
}

.center {
	text-align: center;
}

.non-health-btn {
	margin: 0;
}

.health-btn {
	margin: 0 0 30px;
}

// Topbar

.topbar .icon {
	width: 20px;
	height: 20px;
	float: right;
	margin-left: 10px;
}

.setting {
	background: url('../img/ico-setting.png') no-repeat 0 0;
}

.map {
	background: url('../img/ico-map.png') no-repeat 0 0;
}

.topbar .icon.notification {
	background: url('../img/ico-notification.png') no-repeat 0 0;
	width: 25px;
	height: 22px;
	text-indent: 0;
	color: #fff;
	text-align: center;
	padding: 2px 1px;
	position: relative;
	z-index: 9;
	&:hover {
		&:after {
			content: '\00a0';
			width: 278px;
			height: 253px;
			background: url('../img/notification-box.png') no-repeat 0 0;
			position: absolute;
			top: 20px;
			right: -12px;
			padding-top: 10px;
		}
	}
}

// Radio form
.radio-input {
	padding-right: 20px;
}
span.radio { margin-right: 10%;}

.submit-btn {
	display: block;
	margin: 40px 0 0;
}

form.form-wrapper {
	max-width: 895px;
	height: auto;
	background-color: #fff;
	border-radius: 5px;
	margin: 1em auto 0;
	padding: 30px;
}

label { 
	margin: 0 0 5px;
	font-size: 1.15em;
	line-height: 1.2em;
}

form span.custom {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
	border: solid 1px #cccccc;
	background: white;
}

form span.custom.checkbox.checked:before {
	content: "\00d7";
	color: #222222;
}

.group-left { float: left;}

.textarea {
	width: 100%; 
	margin-bottom:20px;
	height: 120px;
}

.add-more {
	background: url('../img/ico-add.png') no-repeat right 0;
	padding: 7px 35px 11px 0;
	display: inline-block;
	position: absolute;
	top: 35px;
	right: 30px;
	font-size: 0.9em;
	color: #999;
}

form.healthcare-form {
	position: relative;
	background-color: #f1f1f1;
}

.description {
	color: #999;
	font-size: 0.8em;
	display: block;
}

#patient-phone { width: 60%;}
#healthcare-form-submit { margin: 0 auto;}
.section {
	border-bottom: 2px solid #e3e3e3;
	padding: 0 0 10px;
	margin-bottom: 20px !important;
	clear: both;
}

.no-padding { padding-left: 0;}
.clear { clear: both;}
.healthcare-form .row { margin-bottom: 20px;}
.text-thank {
	color: #fff;
	font-size: 1.6em;
	text-align: center;
}
.heart {
	background: url('../img/ico-heart.png') no-repeat 0 center;
	width: 	81px;
	height: 71px;
	text-indent: -999em;
	display: block;
	margin: 30px auto 0;

}

.outer-form-wrapper {
	padding: 30px;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 1em;
	form.form-wrapper { margin-top: 0;}
}

.close-fieldset {
	background: url('../img/close-fieldset.png') no-repeat 0 0;
	width: 15px;
	height: 10px;
	text-indent: -999em;
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
}

// Media Queri
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
	.add-more { position: static; margin-bottom: 30px;}
	#patient-phone { width: 100%;}
	.small-6 {width: 100%; }
	.wrapper { padding: 0;}
	.logo {
		margin: 0.5em 0;
		background-size: 80%;
	}
	.outer-form-wrapper { margin-top: 0; padding: 20px;}
	form.form-wrapper { margin: 0;}
} 
