<!doctype html>
<html class="no-js" lang="en" ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HEALTHCARE</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/vendor/modernizr.js"></script>

    <script src="js/angular.js"></script>
    <script type="text/javascript">
        // var app = angular.module('app');
        function professionalCtrl($scope) {
            $scope.step = 1;
        }
    </script>
</head>
<body ng-controller="professionalCtrl" ng-class="{'first-page': step==1||step==3}">
    <div class="row topbar">
        <div class="large-12 columns" ng-show="step>1">
            <a href="#" class="setting icon">setting</a>
            <a href="#" class="map icon">map</a>
            <a href="#" class="notification icon">28</a>
        </div>
    </div>

    <!-- INDEX -->
    <div class="row reporter-type wrapper" ng-hide="true">
        <div class="large-12 columns">
            <h1 class="logo">HEALTHCARE</h1>
        </div>
        {{ organization }} - {{ email }} - {{ healthcareProf }}
        <div class="large-12 columns">
            <form class="report-type-form">
                <div class="row center">
                    <a href="#" class="white button radius health-btn">Health care</a>
                </div>
                <div class="row center">
                    <a href="#" class="white button radius non-health-btn">Non-Health care</a>
                </div>
            </form>
        </div>
    </div>
    <!-- END INDEX -->

    <!-- REPORTER-PROFILE FIRST -->
    <div class="row wrapper" ng-show="step==1">
        <div class="large-12 columns">
            <h1 class="logo">HEALTHCARE</h1>
        </div>
        <div class="large-12 columns">
            <form class="reporter-profile form-wrapper">
                <h2>Reporter Profile</h2>
                <label class="inlined" for="reporter-name">Name / Organization</label>
                <input type="text" class="input-text" id="reporter-name" ng-model="organization">

                <label class="inlined" for="reporter-email">Email Address</label>
                <input type="text" class="input-text" id="reporter-email" ng-model="email">

                <label class="inlined" for="Healthcare-prof">Healthcare prof.</label>
                <input ng-model="healthcareProf" class="inline-block radio-input" type="radio" name="healthcare-prof" value="Yes" checked> <span class="radio">Yes</span>
                <input ng-model="healthcareProf" class="inline-block radio-input" type="radio" name="healthcare-prof" value="No"> <span class="radio">No</span>
                <input type="submit" class="button radius submit-btn" value="Submit" id="reporter-submit" ng-click="step=step+1" ng-disabled="!organization || !email">
            </form>
        </div>
    </div>
    <!-- END REPORTER-PROFILE -->

    <!-- FORM -->
    <div class="row wrapper" ng-show="step==2">
      <div class="large-12 columns">
        <h1 class="logo">
          HEALTHCARE
        </h1>
      </div>
      <div class="large-12 columns outer-form-wrapper">
        <h2> Healthcare Form </h2>
        <a href="#" class="add-more" >Add more cases</a>
        <form class="healthcare-form form-wrapper">
          <a href="#" class="close-fieldset">close-field</a>
          <div class="case-information section">
            <h3>
              Case 1
            </h3>
            <label class="inlined" for="patient-phone">
              Patient Phone
            </label>
            <input type="text" class="input-text" id="patient-phone">
            
          </div>
          <div class="symptom-list section">
            <h3>
              Symptoms List
            </h3>
            <div class="row">
              <div class="small-6 columns">
                <label for="checkbox1">
                  <input type="checkbox" id="checkbox1">
                  Fever
                </label>
                <label for="checkbox2">
                  <input type="checkbox" id="checkbox2" checked="">
                  Cough
                </label>
                <label for="checkbox3">
                  <input type="checkbox" checked="" id="checkbox3">
                  Sore Throat
                </label>
                <label for="checkbox4">
                  <input type="checkbox" id="checkbox4">
                  Nasal congestion
                </label>
                <label for="checkbox5">
                  <input type="checkbox" id="checkbox5" checked="">
                  Headache
                </label>
              </div>
              <div class="small-6 columns">
                <label for="checkbox7">
                  <input type="checkbox" id="checkbox7">
                  Chill
                </label>
                <label for="checkbox8">
                  <input type="checkbox" id="checkbox8" checked="">
                  Fatigue
                </label>
                <label for="checkbox9">
                  <input type="checkbox" checked="" id="checkbox9">
                  Muscle weakness
                </label>
                <label for="checkbox10">
                  <input type="checkbox" id="checkbox10">
                  Conjunctivitis
                </label>
              </div>
            </div>
          </div>
          <div class="patient-history section row">
            <h3>
              Patient History
            </h3>
            <div class="row">
              <div class="large-6 columns">
                <div class="row">
                  <div class="small-4 columns">
                  <label class="not-inlined" for="date of sickness">
                    Date of sickness
                  </label>
                  </div>
                  <div class="small-8 columns">
                    <input type="text" class="input-text" id="date-sickness">
                  </div>
                </div>
              </div>
              <div class="large-6 columns">
                <div class="row">
                  <div class="small-4 columns">
                  <label class="not-inlined" for="date of admission">
                    Date of admission
                  </label>
                  </div>
                  <div class="small-8 columns">
                    <input type="text" class="input-text" id="date-sickness">
                  </div>
                </div>
              </div>
              <div class="small-12">
                <div class="small-4 columns">
                <label class="not-inlined" for="hospital-name">
                  Hospital name
                </label>
                </div>
                <div class="small-8 columns">
                  <input type="text" class="input-text" id="hospital-name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="small-4 columns">
                <label for="left-label" class="left">
                  Diagnosis
                </label>
              </div>
              <div class="small-8 columns">
                <div class="row">
                  <div class="small-6 columns">
                    <input class="inlined radio-input" type="radio" id="diagnosis-pneumonia" name="diagnosis-pneumonia" value="Yes">
                    <label class="radio" for="diagnosis-pneumonia">
                      Pneumonia
                    </label>
                  </div>
                  <div class="small-6 columns">
                    <div class="radio">
                      <input class="inlined radio-input" type="radio" name="diagnosis-etc" value="Yes">
                      <label class="radio" for="diagnosis-etc">
                        etc
                      </label>
                      <input type="text" class="input-text" id="diagnosis-etc" name="diagnosis-etc-text">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="small-4 columns">
                <label for="left-label" class="left">
                  Patient unit
                </label>
              </div>
              <div class="small-8 columns">
                <div class="row">
                  <div class="small-6 columns">
                    <input class="inlined radio-input" type="radio" id="patient-unit-out" name="patient-unit-out" value="Yes">
                    <label class="radio" for >
                      Outpatient
                    </label>
                  </div>
                  <div class="small-6 columns">
                    <input class="inlined radio-input" type="radio" id="patient-unit-in" name="patient-unit-in" value="Yes">
                    <label class="radio" for="patient-unit-in">
                      Inpatient
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row treatment">
              <div class="small-4 columns">
                <label for="left-label" class="left">
                  Treatment
                </label>
              </div>
              <div class="small-8 columns">
                <div class="row">
                  <div class="small-6 columns">
                    <div class="radio">
                      <input class="inlined radio-input" type="radio" name="treatment-at-date" value="Yes">
                      <label class="radio" for="treatment-at-date">
                        Date at date
                      </label>
                    </div>
                    <div class="text">
                      <input type="text" class="input-text" id="date at date">
                    </div>
                  </div>
                  <div class="small-6 columns">
                    <div class="radio">
                      <input class="inlined radio-input" type="radio" id="treatment-refer-to" name="treatment-refer-to" value="Yes">
                      <label class="radio" for="treatment-refer-to">
                        Refer to
                      </label>
                    </div>
                    <div class="text">
                      <input type="text" class="input-text" id="refer">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="lab-test">
              <h3> Lab Test</h3>
              <div class="row clear">
                <div class="small-4 columns">
                  <label class="not-inlined" for="throat-swab">
                    Throat swab culture
                    <span class="description">
                      Sampling date
                    </span>
                  </label>
                </div>
                <div class="small-8 columns left">
                  <input type="text" class="input-text" id="throat-swab">
                </div>
              </div>
              <div class="row clear">
                <div class="small-4 columns">
                  <label class="not-inlined" for="labtest-result">
                    Result
                  </label>
                </div>
                <div class="small-8 columns">
                  <input type="textarea" class="textarea" id="labtest-result">
                </div>
              </div>
             <div class="row clear">
                  <div class="small-4 columns">
                    <label class="not-inlined" for="labtest">
                      Serology
                      <span class="description">
                        Sampling date
                      </span>
                    </label>
                  </div>
                  <div class="small-8 columns left">
                    <input type="text" class="input-text" id="throat-swab">
                  </div>
              </div>
              <div class="row clear">
                  <div class="small-4 columns">
                    <label class="not-inlined" for="labtest">
                      Result
                    </label>
                  </div>
                  <div class="small-8 columns left">
                    <input type="textarea" class="textarea" id="result">
                  </div>
            </div>
            </div>
          </div>
          <input type="submit" class="button radius submit-btn" value="Submit" id="healthcare-form-submit" ng-click="step=step+1">
        </form>
      </div>
    </div>
    <!-- END-FORM -->

    <!-- THANKYOU -->
    <div class="row reporter-type wrapper" ng-show="step==3">
      <div class="large-12 columns">
        <h1 class="logo">HEALTHCARE</h1>
      </div>
      <div class="large-12 columns">
        <div class="report-type-form">
          <div class="text-thank">Thank you for your report.</div>
          <span class="heart">Heart</span>
          <!-- <input type="submit" class="button radius submit-btn" value="Report Again" id="healthcare-form-submit" ng-click="step=step-1"> -->
        </div>
      </div>
    </div>
    <!-- END-THANKYOU -->


    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
